<h2>Stay updated!</h2>
<p id="container-1-description"> Join 60,000+ product managers receiving monthly updates on: </p>
<div class="tickValue">
    <img src="./images/icon-list.svg" height = "15px">
    <p class="tickValuePara"> Product discovery and building what matters </p>
</div>
<div class="tickValue">
    <img src="./images/icon-list.svg" height="15px">
    <p class="tickValuePara"> Measuring to ensure updates are a success </p>
</div>
<div class="tickValue">
    <img src="./images/icon-list.svg" height="15px">
    <p class="tickValuePara"> And much more! </p>
</div>

    <form id="email-registration">
    <div id="valid-check">
        <p id="emailtext">Email Address</p>
        <p id="invalidtext">Invalid Address</p>
    </div>
    

    <input type="text" id="email" placeholder="email@company.com"><br/>
    <input type="submit" id="submit" value = "subscribe to monthly newsletter">
    </form>
    
